<div class="utility-page_component">
  <div class="utility-page_wrapper w-password-page w-form">
    {%- form 'storefront_password' -%}
      <img alt="" width="106" src="https://d3e54v103j8qbb.cloudfront.net/static/utility-lock.ae54711958.svg" class="utility-page_image">
      <h3>{{ shop.password_message | default: 'Protected Page' }}</h3>
      <input class="form_input w-password-page w-input" autofocus="true" maxlength="256" name="password" data-name="field" placeholder="Enter your password" type="password" id="Password">
      <input data-wait="Please wait..." type="submit" class="button-primary w-password-page w-button" value="Submit">
      {%- if form.errors -%}
        <div class="form_message-error w-password-page w-form-fail" style="display:block;">
          <div>{{ 'general.password_page.login_form_error' | t | default: 'Incorrect password. Please try again.' }}</div>
        </div>
      {%- else -%}
        <div class="form_message-error w-password-page w-form-fail">
          <div>Incorrect password. Please try again.</div>
        </div>
      {%- endif -%}
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "Password",
  "settings": []
}
{% endschema %}
