<main class="main-wrapper">
  <section class="customer_section">
    <div class="padding-section-large">
      <div class="page-width">
        <div class="max-width-small align-center">
          <h1>Reset account password</h1>
          <div class="spacer-medium"></div>
          {%- form 'reset_customer_password', class: 'component_form' -%}
            {%- if form.errors -%}
              <div class="w-form-fail" style="display:block;"><div>{{ form.errors | default_errors }}</div></div>
            {%- endif -%}
            <div class="component_form_field_group">
              <label for="Password" class="form_label">New password</label>
              <input type="password" name="customer[password]" id="Password" class="component_form_input w-input" autocomplete="new-password" required>
            </div>
            <div class="component_form_field_group">
              <label for="PasswordConfirmation" class="form_label">Confirm password</label>
              <input type="password" name="customer[password_confirmation]" id="PasswordConfirmation" class="component_form_input w-input" autocomplete="new-password" required>
            </div>
            <div class="spacer-medium"></div>
            <div class="button-group"><input type="submit" class="button-primary w-button" value="Reset password"></div>
          {%- endform -%}
        </div>
      </div>
    </div>
  </section>
</main>
